<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>Herz Tech Consulting</title>

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          {% if site.github.is_project_page %}
            <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
          {% endif %}

          <h1 id="project_title">{{ site.title | default: site.g`ithub.repository_name }}</h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>

          {% if site.show_downloads %}
            <section id="downloads">
              <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
              <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
            </section>
          {% endif %}
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <!-- {{ content }} -->
        <p>
            Experienced DevOps engineer with experience across across a variety of professional environments from Government to Startups including the IDF and CVS. <br>
            with a broad base of knowledge and technical experience ranging from large cloud environments like AWS to on prem servers, and a variety of skills including infrastructure work, testing, and automation</p>
        <ul>
            <li>Setting up infrastructure</li>
            <li>Provide support for development teams struggling to manage infrastructure</li>
            <li>Compliance</li>
            <li>Testing</li>
        </ul>

        <!-- modify this form HTML and place wherever you want your form -->
        <form
        action="https://formspree.io/f/xeqyralp"
        method="POST"
        >
        <label>
        Email:<br>
        <input type="email" name="email">
        </label>
        <br>
        <label>
        Message:<br>
        <textarea name="message"></textarea>
        </label>
        <br>
        <!-- your other form fields go here -->
        <button type="submit">Send</button>
        </form>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %} -->
        <!-- <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p> -->
        <a href="mailto:yakovherz@prototonmail.com">yakovherz@prototonmail.com          </a>
        <a href="https://www.linkedin.com/in/yakov-herz" class="fa fa-linkedin"></a>
        <a style="color: white">    +1 (860) 706 - 2242</a>
      </footer>
    </div>
  </body>
</html>